@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

*{
    box-sizing: border-box;
}

/*Navbar*/

.nav-item{
    padding-right:1.5rem;
  }

.collapse{
    margin-left: 5rem;
}

.container-fluid{
    margin: 0;
    padding: 0;
}

.navbar{
    width:100%;
    margin:0;
    padding:0;
    display:flex;
    justify-content:space-between;
    background-color:#009688;
    font-size:20px;
}

.navbar-img{
    margin:0 4rem;
    height: 60px;
    width: 60px;
    border-radius:50px;
}

img{
    opacity:0.9;
}

/* container */
.sensor{
    font-family: 'Mulish', sans-serif;
    display: flex;
   
    
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    width: 90vw;
}


.panel {
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: black;
    cursor: pointer;
    flex: 4.5;
    height: 10rem;
    margin: 15px;
    position: relative;
}

.navbar-img2{
    margin:1rem 1rem;
    height: 8rem;
    width: 8rem;
    border-radius:50px;
}

 /* Buttons */

.download-button {
    margin: 3% 0 3% 37rem;
    width: 50%;
    padding:0 10px;
  }